<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div class="md-padding" ng-cloak>-->
    <!--<div>-->
        <!--<h1 class="md-title">Выберите интересующий вас город</h1>-->
        <!--<div layout="row">-->
            <!--<md-input-container>-->
                <!--<label>Города</label>-->
                <!--<md-select ng-model="selected"-->
                           <!--md-on-close="clearSearchTerm()"-->
                           <!--data-md-container-class="selectdemoSelectHeader"-->
                           <!--multiple>-->
                    <!--<md-select-header class="demo-select-header">-->
                        <!--<input ng-model="searchTerm"-->
                               <!--type="search"-->
                               <!--placeholder="Search for a city.."-->
                               <!--class="demo-header-searchbox md-text">-->
                    <!--</md-select-header>-->
                    <!--<md-optgroup label="citys">-->
                        <!--<md-option ng-value="city" ng-repeat="city in vm.citys |-->
              <!--filter:searchTerm">{{city}}</md-option>-->
                    <!--</md-optgroup>-->
                <!--</md-select>-->
            <!--</md-input-container>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="md-padding" ng-cloak>
    <div>
        <h1 class="md-title">Выберите интересующий вас город</h1>
        <div layout="row">
            <md-input-container>
                <label>Items</label>
                <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                    <md-optgroup label="items">
                        <md-option ng-value="item" ng-repeat="item in items">Item {{item}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>
<div class="md-padding" ng-cloak>
    <div>
        <h1 class="md-title">Выберите год метеонаблюдений</h1>
        <div layout="row">
            <md-input-container>
                <label>Items</label>
                <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                    <md-optgroup label="items">
                        <md-option ng-value="item" ng-repeat="item in result.tmpOBj.year">Item {{item}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>
<div class="md-padding" ng-cloak>
    <div>
        <h1 class="md-title">Выберите требуемый месяц года</h1>
        <div layout="row">
            <md-input-container>
                <label>Items</label>
                <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                    <md-optgroup label="items">
                        <md-option ng-value="item" ng-repeat="item in items">Item {{item}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>
</body>
</html>